@model EasyBlog.Models.UserInformationModel

@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Easy Blog</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <div class="container active-page">
        <div class="form-group">
            <div class="mb-5">
                <h2 class="text-center text-uppercase" id="title">Create Blog</h2>
            </div>
            <!--Template-->
            <div class="setting-form">
                <div class="text-center">
                    <a class="toggle" id="template-controller">Templates</a>
                </div>
                <div class="row template-controller input-padding" style="display:none;">
                    <div class="col-lg-12" style="padding-bottom: 15px;">
                        <a class="image-padding" href="javascript:void(0);" onclick="SelectTemplate()">
                            <img id="https://bootstrapmade.com/demo/Folio/" src="https://bootstrapmade.com/wp-content/themefiles/Folio/800.png">
                        </a>
                        <a class="image-padding" href="javascript:void(0);" onclick="SelectTemplate()">
                            <img id="https://bootstrapmade.com/demo/MyResume/" src="https://bootstrapmade.com/wp-content/themefiles/MyResume/800.png">
                        </a>
                        <a class="image-padding" href="javascript:void(0);" onclick="SelectTemplate()">
                            <img id="https://bootstrapmade.com/demo/iPortfolio/" src="https://bootstrapmade.com/wp-content/themefiles/iPortfolio/800.png">
                        </a>
                    </div>
                    <div class="col-lg-12" style="text-align:right">
                        <button style="margin:5px;" type="button" onclick="PreviewTemplate()" class="btn btn-primary">Preview</button>
                        <button style="margin:5px;" id="template-button" type="button" onclick="SaveAndContinueTemplate()" class="btn btn-success">Save And Continue</button>
                    </div>
                </div>
            </div>
            <!--Main-->
            <div class="setting-form dependent-settings" id="main-settings">
                <div class="text-center">
                    <a class="toggle" id="main-components-controller">Main Components</a>
                </div>
                <div class="row main-components-controller" style="display:none;">
                    <div class="col-lg-12" style="padding-bottom: 15px;">
                        <form>
                            <div class="form-row text-left">
                                <div class="col-lg-6 input-padding">
                                    <b>Web Page Logo:</b>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="web-page-logo" required>
                                        <label class="custom-file-label" for="web-page-logo">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Web Page Title:</b>
                                    <input type="text" class="form-control" id="web-page-title" placeholder="Easy Blog" required>
                                </div>
                            </div>
                            <div class="form-row text-left">
                                <div class="col-lg-4 input-padding">
                                    <b>Title Color:</b>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="#ffffff" id="main-title-color-code">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input class="color-change" type="color" value="#ffffff" id="main-title-color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 input-padding">
                                    <b>Text Color:</b>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="#ffffff" id="main-text-color-code">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input class="color-change" type="color" value="#ffffff" id="main-text-color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 input-padding">
                                    <b>Hover Color:</b>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="#ffffff" id="main-hover-color-code">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input class="color-change" type="color" value="#ffffff" id="main-hover-color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12" style="text-align:right">
                        <button style="margin:5px;" type="button" onclick="PreviewTemplate()" class="btn btn-primary">Preview</button>
                        <button style="margin:5px;" id="main-button" type="button" onclick="SaveAndDisableMainSection()" class="btn btn-success">Save And Continue</button>
                    </div>
                </div>
            </div>
            <!--Nav-->
            <div class="setting-form dependent-settings" id="nav-settings">
                <div class="text-center">
                    <a class="toggle" id="navigation-controller">Navigation</a>
                </div>
                <div class="row navigation-controller" style="display:none;">
                    <div class="col-lg-12" style="padding-bottom: 15px;">
                        <form>
                            <div class="form-row text-left">
                                <div class="col-lg-6 input-padding">
                                    <b>Logo:</b>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="navigation-logo">
                                        <label class="custom-file-label" for="navigation-logo">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Navigation Bar Color:</b>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="#ffffff" id="nav-bar-color-code">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input class="color-change" type="color" value="#ffffff" id="nav-bar-color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row text-left">
                                <b>Sections:</b>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="border:0px;">#</th>
                                            <th class="text-center" scope="col" style="border:0px;">Section Name</th>
                                            <th class="text-right" scope="col" style="border:0px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <th scope="row">1</th>
                                            <td class="text-center">Home</td>
                                            <td class="text-right">
                                                <button class="table-icon edit-row close" href="javascript:void(0)" data-toggle="modal" data-target="#change-section-name"><span class="fa fa-edit"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td class="text-center">About</td>
                                            <td class="text-right">
                                                <button class="table-icon delete-row close" href="javascript:void(0)"><span class="fa fa-trash"></span></button>
                                                <button class="table-icon edit-row close" href="javascript:void(0)" data-toggle="modal" data-target="#change-section-name"><span class="fa fa-edit"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td class="text-center">Portfolio</td>
                                            <td class="text-right">
                                                <button class="close table-icon delete-row" href="javascript:void(0)"><span class="fa fa-trash"></span></button>
                                                <button class="close table-icon edit-row" href="javascript:void(0)" data-toggle="modal" data-target="#change-section-name"><span class="fa fa-edit"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td class="text-center">Blog</td>
                                            <td class="text-right">
                                                <button class="close table-icon delete-row" href="javascript:void(0)"><span class="fa fa-trash"></span></button>
                                                <button class="close table-icon edit-row" href="javascript:void(0)" data-toggle="modal" data-target="#change-section-name"><span class="fa fa-edit"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td class="text-center">Contact</td>
                                            <td class="text-right">
                                                <button class="close table-icon delete-row" href="javascript:void(0)"><span class="fa fa-trash"></span></button>
                                                <button class="close table-icon edit-row" href="javascript:void(0)" data-toggle="modal" data-target="#change-section-name"><span class="fa fa-edit"></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12" style="text-align:right">
                        <button style="margin:5px;" type="button" onclick="PreviewTemplate()" class="btn btn-primary">Preview</button>
                        <button style="margin:5px;" id="template-button" type="button" onclick="SaveAndDisableNavigationSection()" class="btn btn-success">Save And Continue</button>
                    </div>
                </div>
            </div>
            <!--Home-->
            <div class="setting-form dependent-settings">
                <div class="text-center">
                    <a class="toggle" id="home-controller">Home Section</a>
                </div>
                <div class="row home-controller" style="display:none;">
                    <div class="col-lg-12" style="padding-bottom: 15px;">
                        <form>
                            <div class="form-row text-left">
                                <div class="col-lg-6 input-padding">
                                    <b>Background Image:</b>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="home-background">
                                        <label class="custom-file-label" for="home-background">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Text Color:</b>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="#ffffff" id="home-text-color-code">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input class="color-change" type="color" value="#ffffff" id="home-text-color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row text-left" id="home-sub-text">
                                <div class="col-lg-6 input-padding">
                                    <b>Main Text:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="I'm a" id="home-main-text">
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Sub Text:</b>
                                    <a href="javascript:void(0);" onclick="AddSubTextToHome()" class="close" style="float:none; padding: 0px;" aria-label="Close">
                                        <span class="green" aria-hidden="true">&plus;</span>
                                    </a>
                                    <div class="custom-file">
                                        <input type="text" class="form-control sub-text" placeholder="developer">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12" style="text-align:right">
                        <button style="margin:5px;" type="button" onclick="PreviewTemplate()" class="btn btn-primary">Preview</button>
                        <button style="margin:5px;" id="template-button" type="button" onclick="SaveAndContinueTemplate()" class="btn btn-success">Save And Continue</button>
                    </div>
                </div>
            </div>
            <!--About-->
            <div class="setting-form dependent-settings">
                <div class="text-center">
                    <a class="toggle" id="about-controller">About Section</a>
                </div>
                <div class="row about-controller" style="display:none;">
                    <div class="col-lg-12" style="padding-bottom: 15px;">
                        <form>
                            <div class="form-row text-left">
                                <div class="col-lg-4 input-padding">
                                    <b>Background Color:</b>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="#ffffff" id="about-background-color-code">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input class="color-change" type="color" value="#ffffff" id="about-background-color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 input-padding">
                                    <b>Frame Color:</b>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="#ffffff" id="about-frame-color-code">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input class="color-change" type="color" value="#ffffff" id="about-frame-color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 input-padding">
                                    <b>Image:</b>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="about-section-image">
                                        <label class="custom-file-label" for="about-section-image">Choose file</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row text-left">
                                <div class="col-lg-12 input-padding">
                                    <b>Header:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="About" id="about-header">
                                    </div>
                                </div>
                                <div class="col-lg-12 input-padding">
                                    <b>Body: </b>
                                    <textarea class="form-control" id="about-body" rows="3"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12" style="text-align:right">
                        <button style="margin:5px;" type="button" onclick="PreviewTemplate()" class="btn btn-primary">Preview</button>
                        <button style="margin:5px;" id="template-button" type="button" onclick="SaveAndContinueTemplate()" class="btn btn-success">Save And Continue</button>
                    </div>
                </div>
            </div>
            <!--Portfolio-->
            <div class="setting-form dependent-settings">
                <div class="text-center">
                    <a class="toggle" id="portfolio-controller">Portfolio Section</a>
                </div>
                <div class="row portfolio-controller" style="display:none;">
                    <div class="col-lg-12" style="padding-bottom: 15px;">
                        <form>
                            <div class="form-row text-left">
                                <div class="col-lg-6 input-padding">
                                    <b>Section Header:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="Portfolio" id="portfolio-header">
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Background Color:</b>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="#ffffff" id="portfolio-background-color-code">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input class="color-change" type="color" value="#ffffff" id="portfolio-background-color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row text-left category">
                                <div class="col-lg-12">
                                    <a class="btn btn-success" style="float:right; color: white" onclick="AddCatagory()">Add Catagory</a>
                                </div>
                            </div>
                            <div class="form-row text-left category">
                                <div class="col-lg-6 input-padding">
                                    <b>Category:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="Branding">
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Image:</b>
                                    <a href="javascript:void(0);" onclick="AddImage()" class="close" style="float:none;" aria-label="Close">
                                        <span class="green" aria-hidden="true">&plus;</span>
                                    </a>
                                    <div class="custom-file" style="width:90%;">
                                        <input type="file" class="custom-file-input">
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12" style="text-align:right">
                        <button style="margin:5px;" type="button" onclick="PreviewTemplate()" class="btn btn-primary">Preview</button>
                        <button style="margin:5px;" id="template-button" type="button" onclick="SaveAndContinueTemplate()" class="btn btn-success">Save And Continue</button>
                    </div>
                </div>
            </div>
            <!--Blog-->
            <div class="setting-form dependent-settings">
                <div class="text-center">
                    <a class="toggle" id="blog-controller">Blog Section</a>
                </div>
                <div class="row blog-controller" style="display:none;">
                    <div class="col-lg-12" style="padding-bottom: 15px;">
                        <form>
                            <div class="form-row text-left">
                                <div class="col-lg-6 input-padding">
                                    <b>Section Header:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="Journal" id="blog-header">
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Background Color:</b>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="#ffffff" id="blog-background-color-code">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input class="color-change" type="color" value="#ffffff" id="blog-background-color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row text-left">
                                <div class="col-lg-12">
                                    <div class="col-lg-12" style="text-align:right; padding:0px;">
                                        <a href="javascript:void(0);" onclick="AddStory()" class="btn btn-success">Add Story</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Title:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="Story Title">
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Image:</b>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input">
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 input-padding">
                                    <b>Body: </b>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12" style="text-align:right">
                        <button style="margin:5px;" type="button" onclick="PreviewTemplate()" class="btn btn-primary">Preview</button>
                        <button style="margin:5px;" id="template-button" type="button" onclick="SaveAndContinueTemplate()" class="btn btn-success">Save And Continue</button>
                    </div>
                </div>
            </div>
            <!--Contact-->
            <div class="setting-form dependent-settings">
                <div class="text-center">
                    <a class="toggle" id="contact-controller">Contact Section</a>
                </div>
                <div class="row contact-controller" style="display:none;">
                    <div class="col-lg-12" style="padding-bottom: 15px;">
                        <form>
                            <div class="form-row text-left">
                                <div class="col-lg-6 input-padding">
                                    <b>Section Header:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="Contact">
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Background Color:</b>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="#ffffff" id="contact-background-color-code">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input class="color-change" type="color" value="#ffffff" id="contact-background-color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row text-left">
                                <div class="col-lg-6 input-padding">
                                    <b>Address:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="Street">
                                    </div>
                                </div>
                                <div class="col-lg-2 input-padding">
                                    <b>City:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-lg-2 input-padding">
                                    <b>State:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="State">
                                    </div>
                                </div>
                                <div class="col-lg-2 input-padding">
                                    <b>Country:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="Country">
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Phone:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="+18000000000">
                                    </div>
                                </div>
                                <div class="col-lg-6 input-padding">
                                    <b>Email:</b>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" placeholder="example@example.com">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12" style="text-align:right">
                        <button style="margin:5px;" type="button" onclick="PreviewTemplate()" class="btn btn-primary">Preview</button>
                        <button style="margin:5px;" id="template-button" type="button" onclick="SaveAndContinueTemplate()" class="btn btn-success">Save And Continue</button>
                    </div>
                </div>
            </div>

            <div class="setting-form dependent-settings">
                <div class="row">
                    <div class="col-lg-12" style="text-align:right">
                        <button style="margin:5px;" type="button" onclick="Preview()" class="btn btn-primary">Preview</button>
                        <button style="margin:5px;" id="template-button" type="button" onclick="Submit()" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="dialog"></div>
    <a href="#" data-toggle="modal" data-target="#my-dialog" id="trigger-dialog" style="display: none;"></a>

    <div class="modal fade" id="change-section-name" tabindex="-1" role="dialog" aria-labelledby="change-section-name" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Change Section Name</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="old-section-name">Old Section Name</label>
                            <input type="text" class="form-control" id="old-section-name" disabled>
                        </div>  <div class="form-group">
                            <label for="new-section-name">New Section Name</label>
                            <input type="text" class="form-control" id="new-section-name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="edit-close">Close</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="ChangeSectionName()" data-dismiss="modal">Change</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/main1.js"></script>
</body>
</html>
